<div>
    <div class="mainContainer">
        <div class="w-[25rem] h-[4rem] m-1 mb-5 flex" *ngFor="let song of songDetails">
            <div class="w-[4rem] h-[100%]">
                <img src="{{ song.artwork }}" alt="" class="w-[100%] h-[100%] rounded-[5px]">
            </div>
            <div class="ml-5 w-[18rem] h-[100%] flex flex-col justify-center items-center">
                <div class="w-[100%] line-clamp-1 truncate">
                    {{ song.title }}
                </div>
                <div class="w-[100%] text-neutral-400 line-clamp-1 truncate">
                    {{ song.artist }}
                </div>
            </div>
        </div>
    </div>
</div>

