<div class="content-container">
    <div class="content-div-slider">
        <div class="content-div-category">
            <app-category-component class="flex gap-4"></app-category-component>
        </div> 

        <div class="content-div-slider-inner">
            <div class="text-neutral-400 subHeading">
                sub heading
            </div>
            <div class="heading">
                HEADING
            </div>
            <div class="details">
                <app-mini-slider></app-mini-slider>
            </div>
        </div>

        <div class="content-div-slider-inner">
            <div class="text-neutral-400 subHeading">
                sub heading
            </div>
            <div class="heading">
                HEADING
            </div>
            <div class="details">
                <div class="w-[150rem] mt-3">
                    <app-slider></app-slider>
                </div>
            </div>
        </div>

        <div class="content-div-slider-inner">
            <ad-inner></ad-inner>
        </div>

        <div class="content-div-slider-inner">
            <div class="text-neutral-400 subHeading">
                sub heading
            </div>
            <div class="heading">
                HEADING
            </div>
            <div class="details">
                <!-- <div class="w-[150rem] mt-3"> -->
                    <app-video-slider></app-video-slider>
                <!-- </div> -->
            </div>
        </div>

        
        <div class="content-div-slider-inner">
            <div class="text-neutral-400 subHeading">
                sub heading
            </div>
            <div class="heading">
                HEADING
            </div>
            <div class="details">
                <app-mini-slider></app-mini-slider>
            </div>
        </div>

        <div class="content-div-slider-inner">
            <div class="text-neutral-400 subHeading">
                sub heading
            </div>
            <div class="heading">
                HEADING
            </div>
            <div class="details">
                <div class="w-[150rem] mt-3">
                    <app-slider></app-slider>
                </div>
            </div>
        </div>

        <div class="content-div-slider-inner">
            <ad-inner></ad-inner>
        </div>

        <div class="content-div-slider-inner">
            <div class="text-neutral-400 subHeading">
                sub heading
            </div>
            <div class="heading">
                HEADING
            </div>
            <div class="details">
                <!-- <div class="w-[150rem] mt-3"> -->
                    <app-video-slider></app-video-slider>
                <!-- </div> -->
            </div>
        </div>

    </div>
</div>

<!-- <router-outlet></router-outlet> -->