<div class="w-[100%] h-[100%] flex">
    <div class="w-[60%] h-[100%] flex items-center justify-center">
        <img src="assets/images/IN_992_X_304.png" alt="" class="w-[90%] h-[90%] img-fluid">
    </div>
    <div class="w-[40%] h-[100%] flex flex-col justify-center gap-2">
        <p class="text-[1.5rem]">Tell us which artists you like</p>
        <p class="text-neutral-400">We'll create an experience just for you</p>
        <button class="w-[8rem] h-[3rem] bg-white text-black rounded-[2rem] mt-3">
            Let's go
        </button>
    </div>
</div>